<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="shortcut icon" href="/public/img/logo-icon.svg" type="image/x-icon">
    <title>Gerenciamento</title>
</head>

<body>
    <header id="header">
        <img class="image" src="../public/img/compilando_comnhecimento.png" width="15%">
        <div class="as">
            <a class="link" href="/">Blog</a>
            <a class="link" href="/articles/show/create">Cadastrar artigo</a>
            <a class="link" <% if (authUser == "admin") { %> href="/users/show/create" <% }else { %> href="/users/home"
                <% } %>>Cadastrar usuário</a>
        </div>
        <a class="link" href="/users/logout">Sair</a>
    </header>
    <main id="main">
        <section style="display: flex; justify-content: space-between; align-items: center;">
            <article>
                <div class="title">
                    Que bom ter você aqui, <br><%= authName %>!
                    <div class="subtitle">
                        Como administrador você pode gerenciar os <br>artigos e usuários!
                    </div>
                </div>
            </article>
            <article>
                <img src="../public/img/animation-admin.gif" alt="" width="650px">
            </article>
        </section>


        <label class="lable-artigos">Artigos</label>

        <div class="artigos_container">
            <% if (Array.isArray(datasArticles)) { %>
            <% datasArticles.forEach(function(dataArticle) { %>
            <div class="card-articles">
                <div class="admin-card-title">
                    <a class="titulo-admin"
                        href="/articles/show/update/<%= dataArticle.kb_id%>"><%= dataArticle.kb_title %></a>
                    <span class="autor"><%= dataArticle.author_name %></span>
                    <span class="date">Publicado em <%= dataArticle.kb_published_date %></span>
                </div>
                <div class="edit">
                    <a href="/articles/show/update/<%= dataArticle.kb_id%>">
                        <img class="garbage-img" src="../public/img/pencil.svg" alt="" width="25px">
                    </a>
                    <img class="garbage-img" src="../public/img/garbage.svg" alt="" width="30px"
                        onclick="garbage(this, '<%= dataArticle.kb_id %>')">
                </div>
            </div>
            <% }); %>
            <% } else { %>
            <label class="serch_label">Não há artigos</label>
            <% } %>
        </div>

        <br>

        <% if (authUser == "admin") { %>
        <label class="lable-artigos">Usuários</label>

        <div class="artigos_container">
            <% if (Array.isArray(datas)) { %>
            <% datas.forEach(function(data) { %>
            <div class="card-articles">
                <div class="admin-card-title">
                    <a class="titulo-admin" href="/users/show/update/<%= data.author_id%>"><%= data.author_name %></a>
                    <span class="autor"><%= data.author_email %></span>
                </div>

                <div class="edit">
                    <a href="/users/show/update/<%= data.author_id%>">
                        <img class="garbage-img" src="../public/img/pencil.svg" alt="" width="25px">
                    </a>
                    <img class="garbage-img" src="../public/img/garbage.svg" alt="" width="30px"
                        onclick="garbageUsers(this, '<%= data.author_id %>')">
                </div>
            </div>
            <% }); %>
            <% } else { %>
            <label class="serch_label">Não há artigos</label>
            <% } %>
        </div>
        <% } %>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../public/js/index.js"></script>
</body>

</html>