<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>edit articles</h1>
    <form action="/articles/update">
        <input type="text" hidden name="id" value="<%= article.kb_id%>">
        <label>tiulo</label>
        <input type="text" name="title" value="<%= article.kb_title%>">
        <label>corpo</label>
        <input type="text" name="body" value="<%= article.kb_body%>">
        <label>subtitulo</label>
        <input type="text" name="permalink" value="<%= article.kb_permalink%>">
        <label>palavras chave</label>
        <input type="text" name="keywords" value="<%= article.kb_keywords%>">
        <label>Publicar</label>
        <input type="checkbox" name="published" value="on" <% if (article.kb_published == "on"){%> checked <% } %>>
        <label>Sugerido</label>
        <input type="checkbox" name="suggestion" value="on" <% if (article.kb_suggestion == "on"){%> checked <% } %>>
        <label>Destaque</label>
        <input type="checkbox" name="featured" value="on" <% if (article.kb_featured == "on"){%> checked <% } %>>
        <button>ENVIAR</button>
    </form>

    <a href="/users/home">VOLTAR</a>

</body>
</html>