<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="shortcut icon" href="/public/img/logo-icon.svg" type="image/x-icon">
    <title>Blog</title>
</head>

<body>
    <header id="header">
        <img class="image" src="../public/img/compilando_comnhecimento.png" width="15%">

        <a class="link" href="/login" class="login">Login</a>
    </header>
    <main id="main">
        <div class="title">
            Encontre aqui o artigo <br />perfeito <span class="span">para você.</span>
        </div>
        <div class="subtitle">
            Da arquitetura de Neumann à Computação Quântica <br />dos dias atuais.
        </div>

        <button class="button"><a href="/login"></a>Quero publicar um artigo</a></button>

        <label class="serch_label">O que você vai pesquisar hoje?</label>
        <div class="search_container">
            <input class="search_input" type="text" placeholder="Quem foi Turing?" onkeyup="search()">
        </div>

        <label class="serch_label">Destaques</label>

        <div id="artigos_container">
            <% if (Array.isArray(destaques)) { %>
            <% destaques.forEach(function(destaque) { %>
            <div class="card">
                <div class="card-title">
                    <div>
                        <div class="titulo"><%= destaque.kb_title %></div>
                        <p class="subtitle-articles">
                            <%= destaque.kb_permalink %></p>
                    </div>
                    <div class="component_title">

                        <span class="like_count"><%= destaque.kb_liked_count %></span>
                        <button onclick="like(this, '<%= destaque.kb_id%>')" id="favorite_button">
                            <svg style="fill: white;" xmlns="http://www.w3.org/2000/svg" height="24"
                                viewBox="0 -960 960 960" width="24">
                                <path
                                    d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z" />
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="card-body">
                    <span class="autor"><%= destaque.author_name %></span>
                    <span class="p_chave">Palavras chaves: <i><%= destaque.kb_keywords %></i></span>
                </div>
                <a class="card_link" href="/articles/view/<%= destaque.kb_id%>">Quero ler esse artigo ></a>
            </div>
            <% }); %>
            <% } else { %>
            <label class="serch_label">Não há artigos</label>
            <% } %>
        </div>

        <label class="serch_label">Artigos mais curtidos</label>

        <div id="artigos_container" class="artigos_likes">
            <% if (Array.isArray(datasArticles)) { %>
            <% datasArticles.forEach(function(dataArticle) { %>
            <div class="card">
                <div class="card-title">
                    <span class="titulo"><%= dataArticle.kb_title %></span>
                    <div class="component_title">
                        <span class="like_count"><%= dataArticle.kb_liked_count %></span>
                        <button onclick="like(this, '<%= dataArticle.kb_id%>')" id="favorite_button">
                            <svg style="fill: white;" xmlns="http://www.w3.org/2000/svg" height="24"
                                viewBox="0 -960 960 960" width="24">
                                <path
                                    d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z" />
                            </svg>
                        </button>
                    </div>

                </div>
                <div class="card-body">
                    <span class="autor"><%= dataArticle.author_name %></span>
                    <span class="p_chave">Palavras chaves: <i>
                            <%= dataArticle.kb_keywords %>
                        </i>
                    </span>
                </div>
                <a class="card_link" href="/articles/view/<%= dataArticle.kb_id%>">Quero ler esse artigo ></a>
            </div>
            <% }); %>
            <% } else { %>
            <label class="serch_label">Não há artigos</label>
            <% } %>
        </div>

    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../public/js/index.js"></script>
</body>

</html>